.sign__link {
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.49px;
  align-self: center;
  color: #FFFFFF;
  text-decoration: none;
}

.sign_link:hover {
  opacity: 0.6;
}
